.tfcontainer{
	max-width: 100px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}
.jumbotron{
	background-color: #333333;
}
@media (min-width: 1500px) {
    .container{
        width: 1400px;
    }
}
body{
	background-color: black;
}
p, h1{
	color:white;
}
.white{
	color:white;
}
.black{
	color:black;
}
.floatLeft{
	float: left; 
	margin: 20px;
}
.floatRight{
	float: right; 
	margin: 20px;
}
